

  <footer class="footer">
    <div class="footer-logo">
      <img src="assets/img/logoFarmadso.png" alt="Logo">
    </div>
    <div class="footer-info">
      <h3>Información</h3>
      <p>Pequeña descripción sobre nosotros.</p>
    </div>
    <div class="footer-contact">
      <h3>Contacto</h3>
      <p>Correo: contacto@example.com</p>
      <p>Teléfono: +123456789</p>
    </div>
    

    <div class="footer-subscribe">
      <h3>Suscríbete</h3>
      <form>
        <input class="input" type="email" placeholder="Correo electrónico">
        <button  type="submit">Suscribirse</button>
      </form>
    </div>
    <div class="footer-social">
        <h3>Redes</h3>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>

