
<header class="encabezadoPRINCIPAL">
    <div class="imagenLogo">
      <img src="assets/img/logoFarmadso.png" alt="logo" srcset="" />
    </div>

      <div class="ContenedoBuscador">
        <input
          class="Buscador"
          type="text"
          name=""
          id=""
          placeholder="Buscar"
        />
        <button class="BotonSearch" type="submit">
          <img src="assets/img/search.svg" alt="" srcset="" />
        </button>
      </div>
      <article class="menuEncabezado">
        <a href="index.php" class="BtnInicio">
          <img src="assets/img/inicio.svg" alt="" srcset="" />
          <p>Inicio</p>
        </a>
        <a href="product.php" class="BtnTienda">
          <img src="assets/img/shop.svg" alt="" srcset="" />
          <p>Tienda</p>
        </a>
      </article>
      <article class="contenedorImagenPerfil">
        <div class="imagenPerfil">
          <img src="assets/img/user.svg" alt="" srcset="" />
        </div>
      </article>
      <div class="ContenedorBtnMenu">
        <div class="botonMenu" onclick="abrirMenuMovil()">
          <img src="assets/img/menu.svg" alt="" srcset="" />
        </div>
      </div>
   
  </header>
  <!-- ventana menu movil -->
  <div class="ContenedorMenuMovil">
      <div class="BotonCerrar" onclick="cerrarMenuMovil()">
        <img src="assets/img/close.svg" alt="" srcset="" />
      </div>
      <article class="contenedorImagenPerfilMovil">
          <div class="imagenPerfilMovil">
            <img src="assets/img/user.svg" alt="" srcset="" />
          </div>
        </article>
        <div class="ContenedoBuscadorMovil">
          <input
            class="BuscadorMovil"
            type=""
            name=""
            id=""
            placeholder="Buscar"
          />
          <button class="BotonSearchMovil" type="submit">
            <img src="assets/img/search.svg" alt="" srcset="" />
          </button>
        </div>
        <article class="menuEncabezadoMovil">
          <div class="BtnInicioMovil">
            <img src="assets/img/inicio.svg" alt="" srcset="" />
            <p>Inicio</p>
          </div>
          <div class="BtnTiendaMovil">
            <img src="assets/img/shop.svg" alt="" srcset="" />
            <p>Tienda</p>
          </div>
        </article>
  </div>
